.aligning-left {
    margin: auto;
    text-align: left;
    display: block;
}

.bot-styles {
    background-color: #ffffff;
    display: inline;
    color: #5e687d;
    padding: 3% 12%;
    border-radius: 14px;
}

.bot-icon{
    font-size: 46px;
    padding-top: 19px;
}
