.aligning-right {
    margin: auto;
    text-align: right;
    display: block;
}

.user-styles {
    background-color: #1a233c;
    display: inline;
    color: #fdfdfd;
    padding: 3% 12%;
    border-radius: 14px;
}

.user-icon{
    font-size: 46px;
    padding-top: 19px;
}